<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Grande Aromas</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
	</head>
	<body>
		<header>
			<div class="container-hero">
				<div class="container hero">
					<div class="customer-support">
						<i class="fa-solid fa-headset"></i>
						<div class="content-customer-support">
							<span class="text">Soporte al cliente</span>
							<span class="number">123-456-7890</span>
						</div>
					</div>

					<div class="container-logo">                     
						<i class="fa-solid fa-mug-hot"></i>
						<h1 class="logo"><a href="index.html">Grande Aromas</a></h1>
					</div>

					<div class="container-user">
                        {% if current_user.is_authenticated %}
                            <a href="{{ url_for('login_bp.logout') }}"><i class="fa-solid fa-sign-out"></i></a>
                        {% else %}
                            <a href="/login"><i class="fa-solid fa-user"></i></a>
                        {% endif %}

						<i class="fa-solid fa-basket-shopping"></i>
						<div class="content-shopping-cart">
							<span class="text">Carrito</span>
							<span class="number">(0)</span>
						</div>
					</div>
				</div>
			</div>

			<div class="container-navbar">
				<nav class="navbar container">
					<i class="fa-solid fa-bars"></i>
					<ul class="menu">
						<li><a href="#">Inicio</a></li>
						<li><a href="#">Moca Helado</a></li>
						<li><a href="#">Expreso</a></li>
						<li><a href="#">Capuchino</a></li>
						<li><a href="#">Más</a></li>
						<li><a href="#">Blog</a></li>
					</ul>

					<form class="search-form">
						<input type="search" placeholder="Buscar..." />
						<button class="btn-search">
							<i class="fa-solid fa-magnifying-glass"></i>
						</button>
					</form>
				</nav>
			</div>
		</header>
        <script
        src="https://kit.fontawesome.com/81581fb069.js"
        crossorigin="anonymous"
    ></script>
    
</body>
</html>
